@charset "utf-8";
$p-sm-size:12px;
$color-red:#FFAFC9;
$icon-img:image-url('icons.png');
$icon-img2:image-url('icons2.png');
$week-iconImg:image-url('animate-list.png');
$h2-size:24px;
$h2-small-color:#6D757A;
$a-hover-color:#00A1D6;
$btn-border-color:#CCD0D7;
$small-color:#99A2AA;
$animate-list-color:#00a1d6;
$footer-size:14px;